<!--product display part-->
<!-- <div class="container p-5">
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let item of data?.products">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img routerLink="/product-detail/{{item.id}}" src="{{item.thumbnail}}" class="card-img img-fluid">
                    </div>
                </div>

               <div class="card-body bg-light text-center">
                <div>
                    <h6 class="font-weight-semibold">
                        <a class="text-default">{{item.title}}</a>
                    </h6>
                </div>
                
                <h3 class="mb-2 font-weight-semibold">${{item.price}}</h3>
                <button routerLink="/product-detail/{{item.id}}" class="btn btn-sm btn-dark mt-2"><i class="fa fa-solid fa-info mr-2">&nbsp;&nbsp;view details</i></button>
                <button (click)="addtocart(item)" class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2">&nbsp;Add to cart </i></button>&nbsp;
                !-- <button (click)="removeitem(item)" class="btn btn-sm btn-danger mt-2"><i class="fa fa-remove mr-2">&nbsp;Remove Item</i></button>&nbsp; --
               </div> 

              
            </div>
            
        </div>
       
    </div>

   
</div> -->


<!-- <div class="container p-5">
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let item of pagedProducts">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img routerLink="/product-detail/{{item.id}}" src="{{item.thumbnail}}" class="card-img img-fluid">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div>
                        <h6 class="font-weight-semibold">
                            <a class="text-default">{{item.title}}</a>
                        </h6>
                    </div>
                    <h3 class="mb-2 font-weight-semibold">${{item.price}}</h3>
                    <button routerLink="/product-detail/{{item.id}}" class="btn btn-sm btn-dark mt-2">
                        <i class="fa fa-solid fa-info mr-2">&nbsp;&nbsp;view details</i>
                    </button>
                    <button (click)="addtocart(item)" class="btn btn-sm btn-warning mt-2">
                        <i class="fa fa-cart-plus mr-2">&nbsp;Add to cart</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator
        [length]="data?.products?.length || 0"
        [pageSize]="pageSize"
        [pageSizeOptions]="[12, 24, 30]"
        (page)="onPageChange($event)">
    </mat-paginator>
</div> -->

<div class="container p-5">
    <!-- Kategori ve sıralama menüleri -->
    <div class="row mb-4">
      <!-- Kategorilere Göre Filtreleme -->
      <div class="col-md-3">
        <label for="categoryFilter" class="font-weight-bold">Categories</label>
        <select 
          id="categoryFilter"
          [(ngModel)]="selectedCategory"
          (change)="filterByCategory(selectedCategory)"
          class="form-select"  aria-label="Default select example"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
  
      <!-- Fiyata Göre Sıralama -->
      <div class="col-md-3">
        <label for="sortFilter" class="font-weight-bold">Sort by Price</label>
        <select
          id="sortFilter"
          [(ngModel)]="selectedSortOption"
          (change)="sortByPrice(selectedSortOption)"
          class="form-select" aria-label="Default select example"
        >
          <option value="none">None</option>
          <option value="asc">Low to High</option>
          <option value="desc">High to Low</option>
        </select>
      </div>
    </div>
      
  
    <!-- Ürün Kartları -->
    <div class="row">
      <div class="col-md-4 mt-3" *ngFor="let item of pagedProducts">
        <div class="card mt-2">
          <div class="card-body">
            <img
              routerLink="/product-detail/{{ item.id }}"
              [src]="item.thumbnail"
              class="card-img img-fluid"
            />
          </div>
          <div class="card-body bg-light text-center">
            <h6 class="font-weight-semibold">
              <a class="text-default fs-6">{{ item.title }}</a>
            </h6>
            <h3 class="mb-2 font-weight-semibold fs-5">${{ item.price }}</h3>
            <button
              routerLink="/product-detail/{{ item.id }}"
              class="btn btn-sm btn-warning mt-2 justify-content-center"
            >
              <i class="fa fa-solid fa-info mr-2 "></i> View Details
            </button>
            <button
              (click)="addtocart(item)"
              class="btn btn-sm btn-warning mt-2 justify-content-center"
            >
              <i class="fa fa-cart-plus mr-2"></i> Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Sayfalama -->
    <div class="row mt-4">
      <div class="col-md-12">
        <mat-paginator
          [length]="totalProducts"
          [pageSize]="pageSize"
          [pageSizeOptions]="[6, 12, 24, 48]"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="container my-4">
    <h4 class="font-weight-bold mb-3">Top Categories</h4>
    <div class="d-flex justify-content-start">
      <button
        *ngFor="let category of categories"
        class="btn btn-outline-primary mx-2"
        [class.active]="category === selectedCategory"
        (click)="filterByCategory(category)"
      >
        {{ category }}
      </button>
    </div>
  </div>

  
  <div class="container my-5">
    <h4 class="font-weight-bold">Top Picks in <span class="text-primary">{{ selectedCategory }}</span></h4>
    <div class="row">
      <div class="col-md-3" *ngFor="let product of selectedCategoryProducts">
        <div class="card">
          <img
            [src]="product.thumbnail"
            [alt]="product.title"
            class="card-img-top img-fluid"
          />
          <div class="card-body text-center">
            <h6 class="font-weight-bold">{{ product.title }}</h6>
            <p class="text-muted">${{ product.price }}</p>
            <button
              (click)="addtocart(product)"
              class="btn btn-sm btn-warning"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  






