.card img {
    margin-bottom: 15px;
    max-width: 100%; /* Resmi alanına sığdır */
    max-height: 150px; /* Resmin taşmasını önler */
    object-fit: contain; /* Resmi bozmadan ölçeklendirir */
    /*transition: transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş efekti */
    cursor: pointer; /* İmleç değişimi */
}
.card-img-actions{
  display: flex; /* Flexbox etkinleştir */
  justify-content: center; /* Yatay ortalama */
  align-items: center; /* Dikey ortalama */
  height: 100%; /* Konteynerin yüksekliğini belirt */
  width: 100%; /* Konteynerin genişliğini belirt */
}

/* Hover efekti */
/* .card:hover 
  transform: scale(1.1); /* Büyütme efekti *
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); * Hafif gölge eklenir *
  z-index: 2; * Resim öne çıkar *
  transition: background-color 0.3s ease, transform 0.2s ease; * Hover ve aktif efektleri için *
} */

body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}


.card-img-action{
    position: relative;
}

a{
    text-decoration: none;
}

.text-default{
    color:black
}

button {
    display: inline-flex; /* Buton içeriğini hizalar */
    align-items: center; /* İkon ve yazıyı dikeyde hizalar */
    gap: 5px; /* İkon ile yazı arasındaki boşluk */
    border-radius: 4px; /* Köşeleri yuvarlar */
    padding: 8px 12px; /* İç boşlukları ayarlar */
    font-size: 14px; /* Yazı boyutu */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Hover ve aktif efektleri için */
    height: 40px;
    width: 250px;
    text-align: center;
   
  }
  
  button i {
    margin-right: 5px; /* İkon ile metin arasına boşluk */
    font-size: 16px; /* İkon boyutu */
    align-items: center;
  }
  
  button.btn-dark {
    background-color: #000; /* Koyu arka plan */
    color: #fff; /* Beyaz yazı */
    border: none;
  }
  
  button.btn-dark:hover {
    background-color: #495057; /* Hover sırasında daha açık bir ton #495057; */
    transform: scale(1.05); /* Hover sırasında büyüme efekti */
  }
  
  button.btn-warning {
    background-color: #000; /* Sarı arka plan */
    color: #ffffff; /* Siyah yazı */
    border: none;
  }
  
  button.btn-warning:hover {
    background-color: #495057; /* Hover sırasında daha koyu bir sarı */
    transform: scale(1.05); /* Hover sırasında büyüme efekti */
  }
  
  button + button {
    margin-left: 10px; /* Butonlar arasına yatay boşluk */
  }
  
  .mt-2 {
    margin-top: 10px; /* Üstten boşluk */
  }
  

  .demo-toggles {
    display: flex;
    flex-direction: column;
  }
  
  .demo-toggles * {
    margin-bottom: 16px;
  }
  
  .demo-options {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .demo-data * {
    margin: 16px 0;
  }
  
  .demo-paginator {
    width: 600px;
  }

.btn-group button{
  height: 40px;
}

